
<header class="header">
    <div class="triangle1"></div>
    <div class="triangle2"></div>
    <div class="triangle3"></div>
    <h1>{{ title }}</h1>
</header>

<div class="container">
    <router-outlet></router-outlet>
  <br>
  <button color="warm" (click)="scrollToTop()">To Top</button>
</div>

