<table>
  <ng-container matColumnDef="name" margin="120px">
    <th mat-header-cell *matHeaderCellDef>Kontonummer</th>
    <td mat-cell><app-accounts></app-accounts></td>
    <td mat-cell><app-shares></app-shares></td>
    <td mat-cell><app-owned-shares></app-owned-shares></td>
  </ng-container>
</table>
