html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

header {
  height: 3rem;
  padding: 3em 0 0 3em;
  background: #103757;
  color: white;
}

header .triangle1 {
  z-index: 2;
  height: 0;
  border-left: 2px solid transparent;
  border-right: 49px solid transparent;
  border-top: 98px solid #91BE1F;
  position: absolute;
  top: 0;
  left: -3px;
}

header .triangle2 {
  z-index: 3;
  position: absolute;
  top: -11px;
  left: -6px;
  width: 0;
  height: 0;
  border-top: 80px solid transparent;
  border-left: 31px solid rgb(37, 75, 104);
  border-bottom: 78px solid transparent;
}

header .triangle3 {
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 30px solid white;
  border-right: 174px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  margin: 20px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}

table {
  min-width: 500px;
  margin: 0px 20px 0px 0px;
  padding: 0px 20px 0px 0px;
}

