<h2>Kontobevægelser</h2>

<h1>{{ account.name }} ({{ account.number }})</h1>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="accountFrom">
        <th mat-header-cell *matHeaderCellDef>Fra kontonummer</th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.accountFrom.number }} </td>
    </ng-container>
    <ng-container matColumnDef="accountTo">
        <th mat-header-cell *matHeaderCellDef>Til kontonummer</th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.accountTo.number }} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Beløb</th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.amount }} </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Dato</th>
        <td mat-cell *matCellDef="let transaction"> {{ formatDate(transaction.date) }} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Beskrivelse</th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.description }} </td>

    </ng-container>
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Kategori</th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.transactionCategory }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="40"
               showFirstLastButtons></mat-paginator>
</div>
